/* _content/Component.Support/Component1.razor.rz.scp.css */
.my-component[b-hqn2d2t8at] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
