/* _content/Component.Sales/Component1.razor.rz.scp.css */
.my-component[b-gyghjq36rp] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
